Repository pratyush1718/CSE-210-Project, pull requests merged in 2025-02, with the labels that each got.

#66 Init: Prep frontend structure and dependency
  stresstoneApp/frontend/package-lock.json
  stresstoneApp/frontend/package.json
  stresstoneApp/frontend/src/App.tsx
  stresstoneApp/frontend/src/components/Header.tsx
  stresstoneApp/frontend/src/components/Sider.tsx
  stresstoneApp/frontend/src/components/TonePlayer.tsx
  stresstoneApp/frontend/src/controller/stub.ts
Labels: frontend

#75 Feature/strider wyh/search engine
  .DS_Store
  README.md
  package-lock.json
  package.json
  stresstoneApp/backend/src/app.ts
  stresstoneApp/backend/src/controllers/SearchController.ts
  stresstoneApp/backend/src/models/SoundTrack.ts
  stresstoneApp/backend/src/routes/SearchRouter.ts
  stresstoneApp/backend/src/test/seedSoundTracks.ts
  stresstoneApp/backend/tsconfig.json
  stresstoneApp/frontend/package-lock.json
  stresstoneApp/frontend/src/App.tsx
  stresstoneApp/frontend/src/components/Header.tsx
  stresstoneApp/frontend/src/components/SearchBar.tsx
  stresstoneApp/frontend/src/components/Sider.tsx
  stresstoneApp/frontend/src/pages/SearchPage.tsx
Labels: backend, frontend, controller, DB

#74 Feat: Sound creation model
  stresstoneApp/modelService/.gitignore
  stresstoneApp/modelService/README.md
  stresstoneApp/modelService/musicgen.py
  stresstoneApp/modelService/requirements.txt
  stresstoneApp/modelService/service.py
  stresstoneApp/modelService/test_api.py
Labels: sound creation

#82 Frontend & backend: Add filter
  stresstoneApp/backend/src/controllers/SearchController.ts
  stresstoneApp/backend/src/models/SoundTrack.ts
  stresstoneApp/backend/src/test/seedSoundTracks.ts
  stresstoneApp/frontend/src/components/SearchBar.tsx
Labels: backend, frontend, Search, DB

#90 Feat (Component): Music player progress bar
  stresstoneApp/backend/src/controllers/SearchController.ts
  stresstoneApp/frontend/public/IDM_Smooth.wav
  stresstoneApp/frontend/src/App.tsx
  stresstoneApp/frontend/src/components/AudioProgressBar.tsx
  stresstoneApp/frontend/src/components/Sider.tsx
  stresstoneApp/frontend/src/components/TonePlayer.tsx
  stresstoneApp/frontend/src/pages/TonecreationPage.tsx
Labels: frontend, sound creation, music player, Component

#92 Fix/SirJishesALot/music player
  stresstoneApp/frontend/src/components/AudioProgressBar.tsx
  stresstoneApp/frontend/src/components/TonePlayer.tsx
Labels: frontend, sound creation, music player, Component

#89 Backend: adapted to Atlas Cluster DB and Added GridFS Config for audio file storage
  stresstoneApp/backend/package-lock.json
  stresstoneApp/backend/package.json
  stresstoneApp/backend/src/controllers/SearchController.ts
  stresstoneApp/backend/src/models/SoundTrack.ts
  stresstoneApp/backend/src/utils/gridfs.ts
Labels: backend, DB
