Repository pratyush1718/CSE-210-Project, pull requests merged in 2025-03, with the labels that each got.

#93 Feat (Musicgen): Frontend interface
  stresstoneApp/frontend/src/components/AudioProgressBar.tsx
  stresstoneApp/frontend/src/pages/TonecreationPage.tsx
Labels: frontend, sound creation, music player

#99 Search Function: Added audio file fetching functions, improve the UI for searching
  stresstoneApp/backend/src/app.ts
  stresstoneApp/backend/src/controllers/AudioController.ts
  stresstoneApp/backend/src/controllers/UploadController.ts
  stresstoneApp/backend/src/routes/AudioRouter.ts
  stresstoneApp/backend/src/utils/gridfs.ts
  stresstoneApp/frontend/src/components/SearchBar.tsx
Labels: backend, frontend, controller, Search, DB

#103 Feat/motion115/soundgen dispactcher
  stresstoneApp/frontend/.env.SAMPLE
  stresstoneApp/frontend/src/components/AudioPreviewCard.tsx
  stresstoneApp/frontend/src/controller/musicgenDispatcher.ts
  stresstoneApp/frontend/src/pages/TonecreationPage.tsx
  stresstoneApp/frontend/src/types.ts
  stresstoneApp/modelService/service.py
  stresstoneApp/modelService/test_api.py
Labels: sound creation

#104 global state with upload and soundcreation
  stresstoneApp/frontend/package-lock.json
  stresstoneApp/frontend/package.json
  stresstoneApp/frontend/src/pages/UploadPage.tsx
  stresstoneApp/frontend/src/stores/useUploadState.ts
Labels: frontend

#108 Feature/strider wyh/search engine: Integrate display music function with search engine
  stresstoneApp/backend/src/app.ts
  stresstoneApp/backend/src/controllers/LikeController.ts
  stresstoneApp/backend/src/controllers/SearchController.ts
  stresstoneApp/backend/src/models/Like.ts
  stresstoneApp/backend/src/routes/LikeRouter.ts
  stresstoneApp/frontend/src/App.tsx
  stresstoneApp/frontend/src/components/AudioProgressBar.tsx
  stresstoneApp/frontend/src/components/LikeButton.tsx
  stresstoneApp/frontend/src/components/SearchBar.tsx
  stresstoneApp/frontend/src/components/TonePlayer.tsx
  stresstoneApp/frontend/src/contexts/PlayerContext.tsx
Labels: backend, frontend, Search, music player

#113 Feat: Updated tags for faceted creation
  stresstoneApp/frontend/src/App.tsx
  stresstoneApp/frontend/src/assets/constants.ts
  stresstoneApp/frontend/src/components/Header.tsx
  stresstoneApp/frontend/src/components/TagChips.tsx
  stresstoneApp/frontend/src/pages/DiscussPage.tsx
  stresstoneApp/frontend/src/pages/SearchPage.tsx
  stresstoneApp/frontend/src/pages/TonecreationPage.tsx
  stresstoneApp/frontend/src/pages/UploadPage.tsx
  stresstoneApp/frontend/src/types.ts
Labels: sound creation

#117 Passing creator information with upload
  stresstoneApp/backend/src/controllers/UploadController.ts
  stresstoneApp/backend/src/models/SoundTrack.ts
  stresstoneApp/frontend/src/auth.ts
  stresstoneApp/frontend/src/controller/uploadDispatcher.ts
  stresstoneApp/frontend/src/pages/UploadPage.tsx
Labels: backend, frontend, auth, community, controller

#118 Refactor: Search dispatcher & MVC architecture
  stresstoneApp/backend/.gitignore
  stresstoneApp/frontend/src/App.tsx
  stresstoneApp/frontend/src/auth.ts
  stresstoneApp/frontend/src/components/AudioPreviewCard.tsx
  stresstoneApp/frontend/src/components/AudioProgressBar.tsx
  stresstoneApp/frontend/src/components/Carousel.tsx
  stresstoneApp/frontend/src/components/DiscoveryQueue.tsx
  stresstoneApp/frontend/src/components/DiscoveryQueueCard.tsx
  stresstoneApp/frontend/src/components/Header.tsx
  stresstoneApp/frontend/src/components/LikeButton.tsx
  stresstoneApp/frontend/src/components/Login.tsx
  stresstoneApp/frontend/src/components/Register.tsx
  stresstoneApp/frontend/src/components/SearchBar.tsx
  stresstoneApp/frontend/src/components/Sider.tsx
  stresstoneApp/frontend/src/components/TagChips.tsx
  stresstoneApp/frontend/src/components/TonePlayer.tsx
  stresstoneApp/frontend/src/constants.ts
  stresstoneApp/frontend/src/controller/contentDispatcher.ts
  stresstoneApp/frontend/src/controller/musicgenDispatcher.ts
  stresstoneApp/frontend/src/controller/searchDispatcher.ts
  stresstoneApp/frontend/src/controller/stub.ts
  stresstoneApp/frontend/src/firebase.ts
  stresstoneApp/frontend/src/pages/DiscussPage.tsx
  stresstoneApp/frontend/src/pages/SearchPage.tsx
  stresstoneApp/frontend/src/pages/TonecreationPage.tsx
  stresstoneApp/frontend/src/pages/UploadPage.tsx
  stresstoneApp/frontend/src/stateManagement/PlayerContext.tsx
  stresstoneApp/frontend/src/stateManagement/useUploadState.ts
  stresstoneApp/frontend/src/stores/useUploadState.ts
  stresstoneApp/frontend/src/types.ts
Labels: controller, Search

#126 Fix the bug of the first time animation not working for music display.
  stresstoneApp/frontend/src/components/AudioProgressBar.tsx
Labels: bug, backend

#128 Refactor: Frontend cleanup
  stresstoneApp/frontend/src/components/AudioPreviewCard.tsx
  stresstoneApp/frontend/src/components/Carousel.tsx
  stresstoneApp/frontend/src/components/DiscoveryQueue.tsx
  stresstoneApp/frontend/src/components/DiscoveryQueueCard.tsx
  stresstoneApp/frontend/src/components/RecCard.tsx
  stresstoneApp/frontend/src/components/TonePlayer.tsx
  stresstoneApp/frontend/src/stateManagement/PlayerContext.tsx
Labels: frontend

#130 fix/SirJishesALot/musicPlayer
  stresstoneApp/frontend/src/components/TonePlayer.tsx
Labels: frontend, music player

#129 Feature/SirJishesALot/communityPage
  stresstoneApp/backend/src/app.ts
  stresstoneApp/backend/src/controllers/PostController.ts
  stresstoneApp/backend/src/controllers/ReplyController.ts
  stresstoneApp/backend/src/controllers/UserController.ts
  stresstoneApp/backend/src/models/Post.ts
  stresstoneApp/backend/src/routes/PostRouter.ts
  stresstoneApp/backend/src/routes/ReplyRouter.ts
  stresstoneApp/backend/src/routes/UserRouter.ts
  stresstoneApp/frontend/src/pages/DiscussPage.tsx
Labels: backend, frontend, community

#132 Fix/SirJishesALot/TonePlayer
  stresstoneApp/frontend/src/components/TonePlayer.tsx
  stresstoneApp/frontend/src/pages/DiscussPage.tsx
Labels: bug, backend, music player
